[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.6.0"
anyio = "==3.7.1"
click = "==8.1.7"
exceptiongroup = "==1.1.3"
fastapi = "==0.104.0"
h11 = "==0.14.0"
idna = "==3.4"
pydantic-core = "==2.10.1"
sniffio = "==1.3.0"
sqlalchemy = "==1.4.41"
sqlalchemy2-stubs = "==0.0.2a35"
sqlmodel = "==0.0.8"
starlette = "==0.27.0"
typing-extensions = "==4.8.0"
uvicorn = "==0.23.2"
pyjwt = "*"
bcrypt = "*"
passlib = "*"
pydantic = {extras = ["email"], version = "*"}
segno = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "uvicorn main:app --reload"
